@model IEnumerable<Controle_Vendas.Models.Nivel_De_Acesso>

@{
    ViewData["Title"] = "Index";
}

<h1>Nivel de Acesso</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-id="@item.Nivel_De_AcessoId"><i class="bi bi-brush">editar</i></a> |
                    <a asp-action="Details" class="btn btn-sm btn-danger" asp-route-id="@item.Nivel_De_AcessoId"><i class="bi bi-eye">Detalhes</i></a> |
                    <a asp-action="Delete" class="btn btn-sm btn-warning" asp-route-id="@item.Nivel_De_AcessoId"><i class="bi bi-trash">Deletar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
